#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/buildcore.mk

pe_prefix = opt/puppet
ruby_ver = 1.8
RUBY = /$(pe_prefix)/bin/ruby$(ruby_ver)

binary-install/pe-facter::
	$(RUBY) install.rb --destdir=$(CURDIR)/debian/$(cdbs_curpkg) --quick --no-rdoc
	# No reason to have sbin, since nothing gets put in it
	rm -rf $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/sbin
